In [ ]:
n=int(input())
n1=int(input())

for i in range(n):
    for j in range(n1):
        print("*",end="")
    print()

In [26]:
n=int(input())
n1=int(input())

for i in range(n):
    for j in range(n1):
        if i == 0 or i == n-1 or j == 0 or j==n1-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

4
4
* * * *
*     *
*     *
* * * *

In [4]:
# rhombus star pattern in python
#n=int(input())

for i in range(4):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(5):
        print("*",end="")
    print()

*****
 *****
  *****
   *****

In [11]:
# mirror rhombus pattern 

for i in range(4):
    for j in range(1,4-i):
        print(" ",end="")
    for k in range(4):
        print("*",end="")
    print()

   ****
  ****
 ****
****

In [13]:
# Triangle star pattern

for i in range(5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [21]:
# pyramid pattern

for i in range(4):
    for j in range(0,4-i-1):
        print(" ",end="")
    for k in range(0,i*2+1):
        print("*",end="")
    print()

   *
  ***
 *****
*******

In [30]:
# inverted triangle pattern 

for i in range(5):
    for  k in range(5-i):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****

In [33]:
# rotated inverted triangle pattern 

for i in range(5):
    for k in range(5-i):
        print("*",end="")
    print()

*****
****
***
**
*

In [41]:
# floyds Triangle pattern 

counter=1
for i in range(5):
    for j in range(i):
        print(counter,end=" ")
        counter+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [44]:
# 0 and 1 triangle pattern 

for i in range(1,6):
    for j in range(i):
        if (i+j) % 2 == 0:
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [48]:
# Triangle  pattern 

for i in range(5):
    for k in range(5-i):
        print(" ",end="")
    for l in range(i):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *

In [22]:
#Butterfly pattern

for i in range(1,5):
    for j in range(i):
        print("*",end=" ")
    
    for m in range(8-2*i):
        print(" ",end=" ")
        
    for n in range(i):
        print("*",end=" ")
    print()
    


for i in range(4,0,-1):
    for k in range(i):
        print("*",end=" ")
    for l in range(8-2*i):
        print(" ",end=" ")
    for m in range(i):
        print("*",end=" ")
    print()

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [79]:
for k in range(5):
    for l in range(5-k):
        print(" ",end="")
    for i in range(k):
        print("*",end="")    
    print()

    *
   **
  ***
 ****

In [23]:
# print inverted number pattern 
for i in range(6):
    count=1
    for j in range(5-i):
        print(count,end=" ")
        count+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [47]:
# diamond pattern

for i in range(4):
    for j in range(4-i):
        print(" ",end=" ")
    
    for k in range(i*2+1):
        print("*",end=" ")
    print()
    
for i in range(2,0,-1):
    for k in range(3-i+1):
        print(" ",end=" ")
        
    for j in range(i*2+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
    * * * * *
      * * *

In [35]:
for i in range(0):
    print(i)